<html>

<!DOCTYPE html>
<html lang="en">
 

<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='steam/js/bootstrap-notify.min.js')}}"></script>
</head>
 
<body>
   
  <nav class="navbar navbar-inverse" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <div class="navbar-brand">
         Loan Dolphins: Request a New Loan
        </div>
      </div>
      
      <form>
        <input type="button" value="Your Profile" align="right" onclick="window.location.href='Profile.html'" />
      </form>

      
      
    </div>
  </nav>
  <div class="container" style="">
    <strong>Remember to make sure your profile is up to date before submitting a request for a new loan.</strong><br>
    <br>
    <form>
      Loan Amount:<br>
      <input type="number" min="0" max="1000" name="Loan Amount (in USD)"><br>
      <br>
      Reason You Are Requesting This Loan:<br>
      <input type="text" name="Reason"><br>
      <br>
      Recommended interest rate based on reliability score: <br>
      <br>
      What interest rate would you like to post? 
      (Enter number 0 – 100)<br>
      <input type="number" min="0" max="100" name="Interest Rate"><br>
      <br>
    </form>
    <div id="button"><a href="ViewRequests.html">Submit!</a></div>
  </div>

  </div>


 
  <script>
 
  </script> 
  
</body>
</html>
